<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chk.pd.pd.dao.extmapper.ExtPdClassMapper">
    <select id="listClass" resultType="com.chk.pd.pd.vo.PdClassQaVo">
        select pc.p_id as p_id,
        pc.qa_gp as qa_gp,
        qa.pd_class_id as pd_class_id,
        pc.name as name,
        GROUP_CONCAT(qa.qa_code SEPARATOR ',') as qa_codes
        from pd_class_qa qa
        join pd_class pc on qa.pd_class_id = pc.id
        -- join pd_param pp on pc
        group by qa.pd_class_id order by pc.idx asc
    </select>
    <select id="NextLevel" resultType="com.chk.pd.pd.domain.PdClass">
         select *
        from pd_class where p_id=#{id}
    </select>
</mapper>
